.dropdown-67373 {
    position: relative;
    display: inline-block;
}
  
.dropdown-67373-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-67373-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-67373 a:hover { background-color: #ddd; }
.dropdown-67373-content.show { display: block; }